<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ChatBooth</title>
  <link rel="stylesheet" href="{{ url_for('messaging.static', filename='msg.css') }}">
</head>
<body>
  <div class="chat-container">
    
    <div class="sidebar">
        <div class="chat-header">
          <img src="https://i.pravatar.cc/40" alt="User" />
          
          <div>
            <div style="font-weight: 600;">private chat app</div>
          </div>
        </div>

        <div class="contact-list contacts-container" id="contact-list">
          {% if contacts %}
            {% for contact in contacts %}
              <div class="contact-item" data-username="{{ contact['username'] }}">
                <img src="https://i.pravatar.cc/40?img=1" />
                <div>
                  <div style="font-weight: 600;">{{ contact['name'] }}</div>
                  <div class="user-status">{{ contact['username'] }}</div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>   

      </div>

    <div class="chat-main">

      <div class="chat-topbar">
        <img src="https://i.pravatar.cc/40?img=2" alt="" style="border-radius: 50%; margin-right: 1rem;" />
        <div>
          <div style="font-weight: 600;" class="topbar-name">taha</div>
          <div class="status-container">
            <span class="status-dot"></span>
            <span id="status-text" class="status-text"></span>
          </div>
        </div>
      </div>
      
      <div class="chat-messages">
        <div class="message received">Hello, how are you?</div>
        <div class="message sent">I'm good! Thanks for asking.</div>
      </div>
      <div class="chat-input">
        <button>✉️</button>
        <input id="msg" type="text" placeholder="Type your message here" />
        <button id="send_msg">Send</button>
      </div>
    </div>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div style="color: red;" class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
  {% endwith %}

  <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
  <script> const user_id_j = "{{ user_id }}"; </script>
  <script src="{{ url_for('messaging.static', filename='script.js') }}"></script>
</body>
</html>
