{% extends "base.html" %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>

<h1>WebSocket Chat</h1>
    <div id="messages">
        <ul id="chat_messages"></ul>
    </div>
    
    <form action="" novalidate>
        {{ forms.hidden_tag() }}
    
        <p>
            {{ forms.usernameReciver.label }}<br>
            {{ forms.usernameReciver(size=32) }}
            {% for error in forms.usernameReciver.errors %}
              <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ forms.message.label }}<br>
            {{ forms.message(size=32) }}
            {% for error in forms.message.errors %}
              <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ forms.submit(size=32) }}
        </p>

    </form>

    <script>
        const socket = io.connect('http://localhost:5000');
        const usernameReciver = document.getElementById("reciever_username");
        const messageInput = document.getElementById("msg");
        const sendBtn = document.getElementById("send_msg");
        const chatMessages = document.getElementById("chat_messages");
        
        // Send message handler
        sendBtn.addEventListener("click", () => {
            event.preventDefault();
            const message = messageInput.value.trim();
            const username_reciever = usernameReciver.value.trim();
            if (message) {
                socket.emit("client_message", message, username_reciever);
                messageInput.value = "";
             usernameReciver.value = "";
            }
        });

        // Receive message handler
        socket.on("server_response", (data) => {
            const li = document.createElement("li");
            li.textContent = data.data;  // Access the correct property
            chatMessages.appendChild(li);
            
            // Scroll to bottom
            messagesDiv.scrollTop = messagesDiv.scrollHeight;
        });

        // Enter key handler
        messageInput.addEventListener("keypress", (e) => {
            if (e.key === "Enter") sendBtn.click();
        });
    </script>
{% endblock %}


